@using RICADO.Modbus;
@using Data;
@using Shared;
@using System.Diagnostics;
@using FoxessWebbus.Web.Services;
@inject IJSRuntime JS;
@page "/"

<PageTitle>Index</PageTitle>

<!--<EditForm Model="@PollTime" OnSubmit="@Submit">
    <InputText @bind-Value="PollTime" />
    <button type="submit">Submit</button>
</EditForm> -->


<MudStack Row="!mobile">
<MudContainer justify-start MaxWidth="MaxWidth.ExtraSmall" style="margin-left:none;margin-right:none;z-index:1;">
 
    <MudGrid Spacing="1">
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none" />
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none;z-index: 2;">
                <MudAvatar Color="Color.Success" Size="Size.Large"  Variant="MudBlazor.Variant.Filled" Style="">
                    <MudIcon Color="Color.Default" Style="object-position: center;" Icon="@Icons.Material.Rounded.SolarPower" Size="Size.Large" />
                </MudAvatar>
                 <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">Solar</MudText>
                <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">@TotalSolar</MudText>
                
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none"/>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none;z-index: 2;">
                <MudAvatar Color="gridColorIndicator" Size="Size.Large" Variant="MudBlazor.Variant.Filled">
                    <MudIcon Color="Color.Default" Icon="@Icons.Material.Rounded.ElectricalServices" Size="Size.Large" />
                </MudAvatar>
                 <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">Grid</MudText>
                <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">@TotalGridUse</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none;">
             <!--   <div class="line-6 pulse-on"></div>-->
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none;z-index: 2;">
                <MudAvatar Color="Color.Info" Size="Size.Large" Variant="MudBlazor.Variant.Filled">
                    <MudIcon Color="Color.Default" Icon="@Icons.Material.Rounded.House" Size="Size.Large" />
                </MudAvatar>
                 <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">House</MudText>
                <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">@TotalHouse</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none" />
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none;z-index: 2;">
                <MudAvatar Style="display:grid;" Color="@batteryColorIndicator" Size="Size.Large" Variant="MudBlazor.Variant.Filled">
                    <MudIcon Color="Color.Default" Icon="@Icons.Material.Rounded.BatteryStd" Size="Size.Large" />
                    <br/>
                    <MudText Align="Align.Center" style="z-index: var(6);" Typo="Typo.caption">@CurrentBatterySoc</MudText>
                </MudAvatar>
                 <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">Battery</MudText>
                <br/>
                <MudText Align="Align.Center" Style="padding-left:12px" Typo="Typo.overline">@TotalBattery</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudPaper Height="100px" Width="100px" Style="box-shadow:none" />
        </MudItem>
    </MudGrid>
   
 @*    <RadzenArcGauge Style="width: 100%; height: 250px;">
        <RadzenArcGaugeScale Step="500" Min="0" Max="4000" MinorStep="10" Radius="1.5" TickPosition=GaugeTickPosition.Inside Y="0.9" Margin="0">
            <RadzenArcGaugeScaleValue Value=@gaugeValue ShowValue=true>
                <Template Context="pointer">
                    <h4>
                        @pointer.Value <sup>kw/h</sup>
                    </h4>
                </Template>
            </RadzenArcGaugeScaleValue>
        </RadzenArcGaugeScale>
    </RadzenArcGauge> *@

   


</MudContainer>

   <RadzenCard Class="rz-my-12" Style="max-width: 620px; min-width:345px;">
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenIcon Icon="solar_power" IconColor="@Radzen.Colors.Success" style="font-size:500" />
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">PV 1</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(model?.PVPower1)W⋅h</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">PV 2</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(model?.PVPower2)W⋅h</b></RadzenText>
            </RadzenStack>
        </RadzenStack>
        <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-bmodel-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
            <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Battery Information</strong></RadzenText>
            <RadzenRow RowGap="0">
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Charge</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(model?.BatteryCharge)W⋅h</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Discharge</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(model?.BatteryDischarge)khw</b></RadzenText>
                </RadzenColumn>
                <RadzenColumn SizeSM="8">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Battery Soc</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(model?.BatterySoc)%</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Battery Temp</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(model?.BatteryTemp)c</b></RadzenText>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
         <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenIcon Icon="solar_power" IconColor="@Radzen.Colors.Success" style="font-size:500" />
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Inverter Temp</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(model?.InverterTemp)c</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Feed In</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(model?.FeedIn)W⋅h</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">From Grid</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(model?.FromGrid)W⋅h</b></RadzenText>
            </RadzenStack>
        </RadzenStack>
      
    </RadzenCard>
</MudStack>


@code{
    public H1Model model = null;
    public short total = 0;
    public double gaugeValue = 0;
    UploadModelData upload = new UploadModelData();

    public string? PollTime { get; set; } = "";

    public string? TotalSolar {get;set;} = "";

    public string? TotalHouse {get;set;} = "";
    public string? TotalGridUse {get;set;} = "";
    public string? TotalBattery {get;set;} = "";
    public string? CurrentBatterySoc {get;set;} = "";
    public MudBlazor.Color batteryColorIndicator {get;set;} = Color.Success;
    public MudBlazor.Color gridColorIndicator {get;set;} = Color.Success;
     private string isDevice { get; set; }
    private bool mobile { get; set; }

    


    private void Submit()
    {
        SettingsHelper.AddOrUpdateAppSetting<int>("PollTime", Convert.ToInt32(PollTime));
        var result = SettingsHelper.ReadAppSetting<int>("PollTime");
        // Logger.LogInformation("Model.Id = {Id}", Model?.Id);
    }


    protected async void Upload(H1Model model){
        // upload.UploadData(model);
    }    

    protected override async Task OnAfterRenderAsync(bool firstRender){
        mobile = await JS.InvokeAsync<bool>("isDevice");
        isDevice = mobile ? "Mobile" : "Desktop";
        StateHasChanged();
    }

   
    protected override async Task OnParametersSetAsync()
    {

        GetLatestDataService dataService = new GetLatestDataService();
        var resultgg = dataService.GetData();

        Stopwatch watch = new Stopwatch();

        watch.Start();
        model = resultgg;
        gaugeValue = model.PVPowerTotal;
       
          
            CurrentBatterySoc = model.BatterySoc.ToString() + "%";
            TotalSolar = model.PVPowerTotal.ToString() + "w";
            TotalGridUse = GridUse() + "w";
            TotalBattery = BatteryUse() + "w";
            TotalHouse = TotalHouseUse() + "w";
            
            watch.Stop();

            //Upload(model);
            Console.WriteLine("VERSION: 0.0.1");

            Console.WriteLine("Time Taken: " + watch.Elapsed);
            Console.WriteLine("Inverter Temp:" + model.InverterTemp.ToString());
            Console.WriteLine("Battery charge:" + model.BatteryCharge.ToString());
            Console.WriteLine("Battery Discharge:" + model.BatteryDischarge.ToString());
            Console.WriteLine("Battery Soc:" +model.BatterySoc.ToString());
            Console.WriteLine("Battery Temp:" + model.BatteryTemp.ToString());
            Console.WriteLine("From Grid:" + model.FromGrid.ToString());
            Console.WriteLine("Feed in:" + model.FeedIn.ToString());
    }

    private string GridUse(){

        if(model.FeedIn > 5){
            gridColorIndicator = Color.Success;
            return model.FeedIn.ToString();
        }

        if (model.FromGrid > 5){
            if(model.FromGrid > 20){
                gridColorIndicator = Color.Warning;
                return model.FromGrid.ToString();
            }
            
            return model.FeedIn.ToString();
        }

        return "0";
       
    }

    private string BatteryUse(){

        if(model.BatteryDischarge > 0){
            batteryColorIndicator = Color.Warning;
            return model.BatteryDischarge.ToString();
        }else{
            batteryColorIndicator = Color.Success;
            return model.BatteryCharge.ToString();
        }
      

    }

    private string TotalHouseUse()
    {
        short total = 0;
        total += model.BatteryDischarge;
        total += model.FromGrid;
        
        short solarToHouse = 0;
        solarToHouse += model.PVPowerTotal;
        solarToHouse -= model.FeedIn;
        solarToHouse -= model.BatteryCharge;

        total += solarToHouse;

        return total.ToString();
    }


        //Simply divides by 10 to get the temp in correct format
        private async Task<short> FormatTemp(ushort registerNumber)
    {
        var result = await GetData(registerNumber);
        if(result.ToString().Length > 2){
            result /= 10;
            return result;
        }

        return result;
        
    }

    private async Task<short> PVTotal(H1Model fromModel)
    {
        await Task.Delay(1);
        total = 0;
        total += fromModel.PVPower1;
        total += fromModel.PVPower2;    
        return total;
    }

    private async Task<short> GetData(ushort registerNumber){
        using (ModbusRTUDevice device = new ModbusRTUDevice(247, ConnectionMethod.TCP, SettingsHelper.ReadAppSetting<string>("ModbusIP"), 502, 1000, 5))
        {
                Stopwatch timer = new Stopwatch();
                await device.InitializeAsync(CancellationToken.None);
                timer.Start();
                ReadRegistersResult data = await device.ReadHoldingRegistersAsync(registerNumber, 1, CancellationToken.None);
                timer.Stop();
                Console.WriteLine("Time taken for " + registerNumber + ": "  + timer.Elapsed);
                foreach (var value in data.Values)
                {
                    return value;
                // Console.Write(value);
                }
                return 0;
        }
    }
    // This is a hacky method which returns the value only if it is either above or below zero.
    // Because some values share a register and can be minus
    private async Task<short> RelativeZero(ushort registerNumber, bool aboveZero)
    {

       var result = await GetData(registerNumber);
            if(result > 0 && aboveZero == false){
                    return result;
            }else if (result < 0 && aboveZero == true){
                result *= -1;
                return result;
            }

            return 0;     

    }
}
    
    
